
.obsidian/graph.json
.obsidian/plugins/obsidian-completr/blacklisted_suggestions.txt
.obsidian/plugins/obsidian-completr/scanned_words.txt
.obsidian/plugins/obsidian-review-notes-plugin/data.json
.obsidian/workspace.json
*.json
*.txt
.obsidian/plugins/obsidian-completr/scanned_words.txt
.obsidian/plugins/obsidian-review-notes-plugin/data.json
.obsidian/workspace.json
*.json
